# Common editing files.
*.pyc
*.swp
.DS_Store
.idea
*.iml
.vscode

# Folders created by setuptools.
build
dist
pyodk.egg-info

# Pypi manifest.
MANIFEST

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*
