# Common editing files.
*.pyc
*.swp
.DS_Store
.idea
*.iml
.vscode
venv/*

# Folders created by setuptools.
build
dist
pyodk.egg-info
pip-wheel-metadata/*

# Pypi manifest.
MANIFEST

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Mkdocs
site/*

# MS Office temp files
~$*